.task-container {
  width: 50%;
  height: 3rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
  margin: 0.25rem 0;
}

.controls {
  display: flex;
  align-items: center;
}

.delete-icon {
  margin-left: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .task-container {
    width: 80%;
    padding: 0 0.5rem;
  }
}
